@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel
   ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Src/val-de-mesdi.jpg" alt="Serge" />
            <div class="container">
                <div class="carousel-caption" style="text-shadow:2px 2px 2px black">
                    <h1>@RegistreFoncier.Resources.Home.Index.Service</h1>
                    <p>@RegistreFoncier.Resources.Home.Index.ServiceTexte</p>
                    <p class="btn btn-lg btn-primary" role="button"><a>@Html.ActionLink(@RegistreFoncier.Resources.Home.Index.Savoir, "Mission", "Home")</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Src/bookshelf.jpg" alt="Consultation"/>
            <div class="container">
                <div class="carousel-caption" style="text-shadow:2px 2px 2px black">
                    <h1>@RegistreFoncier.Resources.Home.Index.Consultation</h1>
                    <p>@RegistreFoncier.Resources.Home.Index.ConsultationTexte</p>
                    <p class="btn btn-lg btn-primary" role="button"><a>@Html.ActionLink(@RegistreFoncier.Resources.Home.Index.Consulter, "Index", "Consultation")</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Src/testament.jpg" alt="Centrale" />
            <div class="container">
                <div class="carousel-caption" style="text-shadow:2px 2px 2px black">
                    <h1>@RegistreFoncier.Resources.Home.Index.Centrale</h1>
                    <p>@RegistreFoncier.Resources.Home.Index.CentraleTexte</p>
                    <p class="btn btn-lg btn-primary" role="button"><a>@Html.ActionLink(@RegistreFoncier.Resources.Home.Index.Details, "Centrale", "Home")</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Src/faq.jpg" alt="FAQ" style="-webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px; height:180px; width:180px"/>
            <h2>@RegistreFoncier.Resources.Home.Index.FAQ</h2>
            <p>@RegistreFoncier.Resources.Home.Index.FAQTexte</p>
            <p class="btn btn-lg btn-primary" role="button"><a>@Html.ActionLink(@RegistreFoncier.Resources.Home.Index.Details, "FAQ", "Home")</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/Src/laptop1.jpg" alt="RF2020"  style="-webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px; height:180px; width:180px"/>
            <h2>@RegistreFoncier.Resources.Home.Index.RF2020</h2>
            <p>@RegistreFoncier.Resources.Home.Index.RF2020Texte</p>
            <p class="btn btn-lg btn-primary" role="button"><a>@Html.ActionLink(@RegistreFoncier.Resources.Home.Index.Details, "RF2020", "Home")</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/Src/Batiment_Sion.jpg" alt="Consultation"  style="-webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px; height:180px; width:180px"/>
            <h2>@RegistreFoncier.Resources.Home.Index.Bureaux</h2>
            <p>@RegistreFoncier.Resources.Home.Index.BureauxTexte</p>
            <p class="btn btn-lg btn-primary" role="button"><a>@Html.ActionLink(@RegistreFoncier.Resources.Home.Index.Details, "RF", "Home")</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">@RegistreFoncier.Resources.Home.Index.Retour</a></p>
        <p>&copy; 2018 Stéphanie Domingues Pinto</p>
    </footer>

</div><!-- /.container -->