@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consultation";
}

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://placehold.it/900x500/777777&text=First+slide" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>@RegistreFoncier.Resources.Consultation.Index.Titre1</h1>
                    <h2>
                        @RegistreFoncier.Resources.Consultation.Index.Titre2
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <div style="text-align:center">
        <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
        <form role="form" id="feedbackForm" method="post" action="">
            <p>@RegistreFoncier.Resources.Consultation.Index.Option1
                <ul style="list-style-position: inside">
                    <li>@RegistreFoncier.Resources.Consultation.Index.Proprietaire<li />
                    <li>@RegistreFoncier.Resources.Consultation.Index.Procuration<li />
                    <li>@RegistreFoncier.Resources.Consultation.Index.Mandat<li />
                    <li>@RegistreFoncier.Resources.Consultation.Index.Curateur<li />
                    <li>@RegistreFoncier.Resources.Consultation.Index.Heritier<li />
                    <li>@RegistreFoncier.Resources.Consultation.Index.Autre<li />
                </ul>
            </p>
            <div class="form-group">
                <h3><a>@Html.ActionLink("> Propriétaire ou en possession d'une procuration", "Index2", "Consultation")</a></h3>
            </div>
            <p>@RegistreFoncier.Resources.Consultation.Index.Option2</p>
            <div class="form-group">
                <h3><a>@Html.ActionLink("> Demande d'un extrait public", "Public", "Consultation")</a></h3>
            </div>
        </form>
        <!-- END CONTACT FORM -->
    </div>
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#"@RegistreFoncier.Resources.Consultation.Index.Retour</a></p>
        <p>&copy; 2018 Stéphanie Domingues Pinto</p>
    </footer>

</div><!-- /.container -->
