@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Src/computer-capi.png" alt="Serge" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>@RegistreFoncier.Resources.Consultation.Intercapi.Titre</h1>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <div style="text-align:center">
        <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
        <form role="form" id="feedbackForm" method="post" action="">
            <div class="grid__row">
                <div class="grid__col-xxs--12 grid__col-s--12">
                </div>
                <div class="grid__col-xxs--12 grid__col-s--8  entry-body">
                    <div class="vsstruct">

                        <p style="text-align: justify;">@RegistreFoncier.Resources.Consultation.Intercapi.Texte1</p>

                        <p style="text-align: justify;">@RegistreFoncier.Resources.Consultation.Intercapi.Texte2<strong>@RegistreFoncier.Resources.Consultation.Intercapi.Texte3Gras</strong></p>

                        <p style="text-align: justify;">@RegistreFoncier.Resources.Consultation.Intercapi.Texte4</p>

                        <p style="text-align: justify;">@RegistreFoncier.Resources.Consultation.Intercapi.Texte5</p>
                    </div>
                </div>
                <div class="grid__col-xxs--12 grid__col-s--4">
                    <div class="grid__col-xxs--12 grid__col-s--12 services-header">
                        <div class="grid__col-xxs--12">
                            <h3>
                                Contact
                            </h3>
                            <p>&nbsp;</p>

                            <p><strong><a href="https://apps.vs.ch/capweb/">Accès&nbsp;direct&nbsp;à la consultation du registre foncier </a>- Intercapi</strong></p>

                            <p>&nbsp;</p>

                            <p><em><strong>@RegistreFoncier.Resources.Consultation.Intercapi.Demande</strong></em></p>

                            <p>
                                Service du registre foncier<br />
                                Avenue de la Gare 39<br />
                                1950 Sion
                            </p>

                            <p>&nbsp;</p>

                            <p>
                                <em>
                                    <strong>
                                        @RegistreFoncier.Resources.Consultation.Intercapi.Problèmes<br />
                                        @RegistreFoncier.Resources.Consultation.Intercapi.MDP
                                    </strong>
                                </em>
                            </p>

                            <p><a href="mailto: srf-intercapi@admin.vs.ch"><img alt="" src="/documents/515668/876099/ic%C3%B4ne_enveloppe.png/a13ba86f-1e0b-4aab-ae49-1d36684ba5df?t=1429688745763" style="width: 16px; height: 16px;" /> </a><a href="mailto:srf-intercapi@admin.vs.ch">srf-intercapi@admin.vs.ch</a></p>
                            <br />
                            <p class="btn btn-lg btn-primary" role="button"><a>@Html.ActionLink(@RegistreFoncier.Resources.Consultation.Intercapi.DemandeIntercapi, "DemandeIntercapi", "Consultation")</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END CONTACT FORM -->
    </div>
    </br>
    </br>
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">@RegistreFoncier.Resources.Consultation.Intercapi.Retour</a></p>
        <p>&copy; 2018 Stéphanie Domingues Pinto</p>
    </footer>

</div><!-- /.container -->
