<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/carousel.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="~/Src/valais.png" alt="Canton du Valais" class="valais"/></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                @Html.ActionLink("Accueil", "Index", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Notre mission", "Mission", "Home")
                            </li>
                            <li class="dropdown">
                                <a href="~/Home/RF" class="dropdown-toggle" data-toggle="dropdown">Registre foncier<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Consultation en ligne du registre foncier", "Intercapi", "Consultation")
                                    </li>
                                    <li>@Html.ActionLink("Demande d'extrait du registre foncier", "Index", "Consultation")
                                    </li>
                                    <li>@Html.ActionLink("Extrait public du registre foncier", "Public", "Consultation")
                                    </li>
                                    <li>@Html.ActionLink("Extrait complet du registre foncier", "Index", "Consultation")
                                    </li>
                                    <li>@Html.ActionLink("Acquisition par des personnes à l'étranger", "Etranger", "Home")
                                    </li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Centrale des testaments", "Centrale", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Registre foncier 2020", "RF2020", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Foire aux questions", "FAQ", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Contact", "Contact", "Home")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @RenderBody()

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
</body>
</html>